$darkorange-color-background: black;
$darkorange-color-text: #ededed;
$darkorange-color-text-dark: white;
$darkorange-color-key: orange;
$darkorange-color-value: lightgreen;
$darkorange-color-url: dodgerBlue;
$darkorange-color-null: lightblue;

body[data-theme="darkorange"], #themeChooserPreview[data-theme="darkorange"] {
  background-color: $darkorange-color-background;
  .expander {
   color: $darkorange-color-text;
  }
  #gutter {
    background: $darkorange-color-text;
    opacity: 0.15;
  }
  [line-number]:before {
    color: $darkorange-color-text;
  }
  /* SYNTAX HIGHLIGHTING */
  #formattedJson, #jsonpOpener, #jsonpCloser {
    color: $darkorange-color-text-dark;
  }
  #formattedJson {
    color: $darkorange-color-text;
  }
  .objProp {
    color: $darkorange-color-key;
  }
  .s {
    color: $darkorange-color-value;
  }
  .key {
    color: $darkorange-color-key;
  }
  pre {
    color: $darkorange-color-text;
  }
  a:hover, a:active {
    color: $darkorange-color-url;
  }
  .bl, .nl, .n {
    color: $darkorange-color-null;
  }
  .nested:after {
    background-color: $darkorange-color-null;
    color: $darkorange-color-background;
  }

  #formattingMsg {
    color: $darkorange-color-text-dark;
  }

  #status {
    border-color: $darkorange-color-text-dark;
    background-color: $darkorange-color-text;
    color: $darkorange-color-background;
  }
}